<div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
        <h4>@(ViewData["Title"] ?? "") <small class="font-size-base opacity-50">وقت بخیر سیستمی, رویداد روز یا سخن بزرگان</small></h4>
        <a href="#" class="header-elements-toggle text-white d-md-none"><i class="icon-more"></i></a>
    </div>

    <div class="header-elements d-none bg-transparent py-0 border-0 mb-3 mb-md-0">
        <form action="#">
            <div class="form-group form-group-feedback form-group-feedback-right">
                <input type="search" class="form-control bg-light-alpha border-transparent wmin-md-200" placeholder="جستجو">
                <div class="form-control-feedback">
                    <i class="icon-search4 font-size-sm"></i>
                </div>
            </div>
        </form>
    </div>
</div>