<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>سیستم اعتبارسنجی- @ViewData["Title"]</title>

	<!-- Global stylesheets -->
	<link href="~/assets/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="~/assets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="~/assets/bootstrap/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="~/assets/layout.min.css" rel="stylesheet" type="text/css">
	<link href="~/assets/components.min.css" rel="stylesheet" type="text/css">
	<link href="~/assets/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
</head>

<body class="bg-slate-800">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">
				@RenderBody()
			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

    <!-- Core JS files -->
	<script src="~/assets/jquery.min.js"></script>
	<script src="~/assets/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="~/assets/uniform.min.js"></script>

	<script src="~/assets/app.js"></script>
	<!-- /theme JS files -->
</body>
</html>
