@{
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}
<!-- Login card -->
<form class="login-form" action="index.html">
    <div class="card mb-0">
        <div class="card-body">
            <div class="text-center mb-3">
                <i class="icon-people icon-2x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
                <h5 class="mb-0">ورود به حساب‌کاربری</h5>
                <span class="d-block text-muted">اطلاعات شما</span>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="text" class="form-control" placeholder="نام کاربری">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>

            <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" class="form-control" placeholder="رمز عبور">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="form-check mb-0">
                    <label class="form-check-label">
                        <input type="checkbox" name="remember" class="form-input-styled" checked data-fouc>
                        مرابه‌خاطربسپار
                    </label>
                </div>

                <a href="login_password_recover.html" class="ml-auto">رمز عیور را فراموش کردید؟</a>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">ورود <i class="icon-circle-left2 ml-2"></i></button>
            </div>
            <div class="form-group text-center text-muted content-divider">
                <span class="px-2">حساب کاربری ندارید؟</span>
            </div>

            <div class="form-group">
                <a href="#" class="btn btn-light btn-block">ثبت نام</a>
            </div>
        </div>
    </div>
</form>
<!-- /login card -->